/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --col_blue: #000080;
    --col_lavender: #0000FF;
    --col_white: #FFFFFF;
    --col_regyellow:#FFBB00;
  }
  